<!DOCTYPE html>
{% extends 'base.html' %}

{% load staticfiles %}

{% block body %}
    </br>
    <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
        <form class="form-inline" method="post" action="{% url 'search_spotify' %}">
            {% csrf_token %}
            <input class="form-control" type="text" size="50" name="query" value="" id="query" placeholder="Search here!" />
            <input class="btn btn-default" type="submit" name="submit" value="Search">
            <br/>
        </form>
    </div>
    <row>
        <div class="col-sm-6 col-md-6"> <!--Artist-->
        </div>

        <div class="col-sm-6 col-md-6"> <!--Album-->
        </div>
    </row>

    <div> <!--tracks-->

    </div>



{% endblock %}